recursive-include crowd_statistics/model *
recursive-include crowd_statistics/nanodet/model/backbone *
recursive-include crowd_statistics/Insightface_pytorch/mtcnn_pytorch/src/weights *
recursive-include crowd_statistics *